In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('fitness_class_2212.csv')  

print("Dataset Shape:", df.shape)
print("\nFirst 5 Rows:")
df.head()

Dataset Shape: (1500, 8)

First 5 Rows:

,booking_id,months_as_member,weight,days_before,day_of_week,time,category,attended
0,1,17,79.56,8,Wed,PM,Strength,0
1,2,10,79.01,2,Mon,AM,HIIT,0
2,3,16,74.53,14,Sun,AM,Strength,0
3,4,5,86.12,10,Fri,AM,Cycling,0
4,5,15,69.29,8,Thu,AM,HIIT,0

In [8]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
booking_id           0
months_as_member     0
weight              20
days_before          0
day_of_week          0
time                 0
category             0
attended             0
dtype: int64

In [9]:
# Handle missing values
# Option 1: Drop rows with missing values
df = df.dropna()

# Option 2: Impute missing values (uncomment below if you prefer imputation)
# imputer = SimpleImputer(strategy='mean')
# df = pd.DataFrame(imputer.fit_transform(df), columns=df.days_beforeumns)

#### Assignment 1 - perform EDA on the dataset

In [10]:
# ASSIGNMENT BEGIN

df.info() # check dataset structure
print(f"\nNull values:\n", df.isnull().sum())
print(f"\nDuplicate values:", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 1480 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   booking_id        1480 non-null   int64
 1   months_as_member  1480 non-null   int64
 2   weight            1480 non-null   float64
 3   days_before       1480 non-null   object
 4   day_of_week       1480 non-null   object
 5   time              1480 non-null   object
 6   category          1480 non-null   object
 7   attended          1480 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 104.1+ KB

Null values:
 booking_id          0
months_as_member    0
weight              0
days_before         0
day_of_week         0
time                0
category            0
attended            0
dtype: int64

Duplicate values: 0

In [ ]:
# Dataset Formatting

# remove booking_id from analysis as it is just an identifier like an index
df2 = df.drop("booking_id", axis = 1)

df2["days_before"] = df2["days_before"].str.extract(r'(\d+)') # change days_before to float
df2["days_before"] = df2["days_before"].astype(float)

cat = df2.select_dtypes(include = ['object']).columns # one hot encode days of the week, category, attended and time (AM/PM)
encoded_df = pd.get_dummies(df2, columns = cat, dtype = int)


encoded_df = encoded_df.rename(columns = {"category_-":"category_unspecified"})

encoded_df.head()

,months_as_member,weight,days_before,attended,day_of_week_Fri,day_of_week_Fri.,day_of_week_Mon,day_of_week_Monday,day_of_week_Sat,day_of_week_Sun,...,day_of_week_Wed,day_of_week_Wednesday,time_AM,time_PM,category_unknown,category_Aqua,category_Cycling,category_HIIT,category_Strength,category_Yoga
0,17,79.56,8.0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,10,79.01,2.0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,16,74.53,14.0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
3,5,86.12,10.0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,15,69.29,8.0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [ ]:
# univariate analysis of each feature
print(encoded_df.describe()) # count is 129; ranges, mean, max and min are reasonable  

import seaborn as sns

sns.countplot(x = "attended", data = df, hue = "species", palette = "Set2")